
.layout {
  width: 100%;
  height: 100%;
  border: 4px solid red;

  &__bg-img {
    position: absolute;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      border: 10px solid green;
    }
  }

  &__menu {

  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 43rem;
    left: 50vw;
    position: absolute;
    z-index: 1;
    border: 10px solid red;
    top: 0;
  }
}
