.luckyDrawPage {
  width: 100%;
  height: 100%;
  background-color: #FDECF5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  .inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/images/luckydraw.header.bg.svg");
      background-size: cover;
      flex-direction: column;
      padding: 1.6rem;
      gap: 1.2rem;

      .pickupCount {
        background-color: #FF4193;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem 1.4rem;
        border-radius: 1.4rem;
        margin-bottom: -0.5rem;

        p {
          color: white;
          font-weight: 600;
          font-size: 1.4rem;
        }
      }

      .prizeImg {
        width: 28rem;
        height: 34rem;
        position: relative;
      }
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3.2rem;
      overflow-x: clip;


      .pickupInfo {
        font-size: 1.6rem;
        font-weight: 700;
        color: #1C222B;
      }

      .luckyDrawProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        margin-top: 3.2rem;
      }

      .luckyDrawHowto {
        p {
          color: #5C6475;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2rem;
          white-space: pre-wrap;
          text-align: center;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        margin-top: 3.2rem;
      }
    }
  }
}
