.options {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  width: 7rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  display: flex;
  flex-direction: row;

  .image {
    @include activeScale(0.94);
    padding: 0.5rem;
  }
}
