
.container {
  width: 90%;
  max-width: 33rem;
  background-color: #F0F3FA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.4rem 2.5rem;
  border-radius:0.8rem;
  align-items: center;
  gap: 5rem;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #1C222B;
  gap: 0.8rem;
  font-size: 1.6rem;

  >:first-child {
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    div {
      margin-top: 0.3rem;
      margin-left: 0.4rem;
    }
  }

  >:last-child {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    font-weight: bold;
    text-decoration : underline;
    @include activeOpacity(0.35, 100ms);
    cursor: pointer;


  }
}

.verticleLine {
  width: 0.1rem;
  height: 2.4rem;
  background-color: #5C6475
}
