.officePage {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  background-color: #F0F3FA;


  .myMallowArea {
    width: 100%;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    border-bottom: 1px solid #E5E9F2;
    background-color: white;

    .logo {
      width: 10rem;
      height: 2.4rem;
      background-color: #E5E9F2;
    }

    .myMallow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;

      p {
        color: #4D5564;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }

  .body {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;

    .topCarousel {
      margin-top: 2rem;
      border-radius: 1.6rem;
      background-color: white;
      height: 10rem;
      width: 100%;
      position: relative;

      .pagination {
        position: absolute;
        right: 0.8rem;
        bottom: 0.8rem;

        p {
          font-size: 1.1rem;
          background-color:  #00000080;
          padding: 0.3rem 0.7rem;
          color: white;
          font-weight: 600;
          border-radius: 10rem;
        }
      }
    }

    .todayArea {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: 1px solid red;
      margin-top: 1rem;

      .myIcon {
        display: flex;
        flex-direction: column;
        align-items: center;


        .nameRank {
          white-space: pre-wrap;
          flex-direction: column;
          font-weight: 600;
          font-size: 1.1rem;
          color: #2E343F;
          text-shadow: 0 0 2px white;
        }

        .name {
          margin-top: 0.2rem;
          white-space: pre-wrap;
          flex-direction: column;
          font-weight: 700;
          font-size: 1.1rem;
          color: #2E343F;
          text-shadow: 0 0 2px white;

        }
      }
    }
  }
}
