
.nav {
  @include sizes;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: var(--mainLayoutBottomNavHeight);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E5E9F2;

  li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0.5;


      .image {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-bottom: 0.4rem;
      }
    }

  }
}

.selected {
  opacity: 1 !important;
}

.selected > * {
  opacity: 1 !important;
}
