.noticeDetailPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .notice {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .dateString {
      color: #929DB0;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .title {
      color: #12171E;
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: 700;

    }

    .horizontalLine {
      margin-top: 1.6rem;
      position : relative;
      width: calc(100% + 4rem);
      left: -2rem;
      border: 1px solid #E5E9F2;
    }

    .description {
      margin-top: 2.4rem;
      line-height: 2rem;
      font-weight: 400;
      color: #1C222B;
      font-size: 1.4rem;
    }
  }
}
