.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    width: 90%;
    max-width: 50rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D4DBE9;

    @include activeScale;

    .image {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 1.7rem;
      margin-left: 0.8rem;
    }
  }
}
