.bottomSheet {
  @include z-index-vars;
  z-index: var(--bottomSheetIndex);

  height: 44rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: white;
  display: flex;

  padding-top: 3.8rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  span {
    text-decoration: underline;
    font-weight: bold;
  }
}

.content {
  width: 100%;
}

.topLine {
  background-color: #CED5E4;
  height: 0.4rem;
  width: 3.8rem;
  position: absolute;
  top: 1rem;
  left: calc(50% - 1.9em);
  border-radius: 0.5rem;
}



.title {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}

.description {
  color: #5C6475;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 1.6rem;
  margin-left: 1rem;
}

.grayBoxArea {
  width: 100%;
  margin-top: 1.6rem;
  padding: 1.4rem 1.6rem ;
  background-color: #F0F3FA;
  border-radius: .8rem;
}

.terms {
  .link {
    width: 100%;
    margin: 1.2rem 0;
    color: #5C6475;
    font-weight: 400;
    font-size: 1.2rem;

    > div {
      width: 100%;
      padding: 0.7rem 0 0.7rem 1.6rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.marketing {

}

.push {
  margin-top: 1.2rem;
}

.age {
  margin-top: 1.2rem;
}


.checkboxGroup {
  width: 100%;
  display: flex;
  flex-direction: row;

  > :last-child {
    margin-top: 0.4rem;
    margin-left: 0.8rem;
  }
}


.buttonInActive {
  position: absolute;
  bottom: 2.4rem;
  left: 3.2rem;
  width: calc(100% - 6.4rem) !important;
  color: #D9D9D9 !important;
  background: #F5F5F5 !important;

  @include buttonCustom(#F5F5F5);
}

.buttonActive {
  position: absolute;
  bottom: 2.4rem;
  left: 3.2rem;
  width: calc(100% - 6.4rem) !important;

  @include buttonBlack;
  @include activeOpacity;
  @include activeScale;
}

.image {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
