@mixin theme-light-vars {
  --white01: #f9f9f9;
  --white02: #f1f1f1;
  --white03: #eee;
  --white04: #ddd;

  --black01: #090909;
  --black02: #1f1f1f;

  --letsee-red: #e94f19;
  --letsee-blue: #1da6ba;
  --letsee-purple: #433c8c;
  --letsee-gray: #89898f;

  --confirm: greenyellow;
  --button-next: darkcyan;

  --toast-bg-default: #242424;
  --toast-bg-error: #e02456;
  --toast-bg-warning: #433c8c;
}

@mixin museum-font {
  font-family: 'Museum', 'SUIT', 'Apple SD Gothic Neo', sans-serif;
}

@mixin z-index-vars {
  --rootIndex: 1000;
  --mapIndex: 1190;
  --modalIndex: 1200;
  --viewerGuideIndex: 4000;
  --loadingScreenIndex: 5000;
  --toastIndex: 6000;
}

@mixin userSelectNone {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin buttonActiveDefault($scale: 0.98, $duration: 200ms) {
  transition: transform $duration;
  &:active { transform: scale($scale); }
}

@mixin modalBoxShadow01 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@mixin theme-light-vars {
  --white01: #f9f9f9;
  --white02: #f1f1f1;
  --white03: #eee;
  --white04: #ddd;

  --black01: #090909;
  --black02: #1f1f1f;

  --letsee-red: #e94f19;
  --letsee-blue: #1da6ba;
  --letsee-purple: #433c8c;
  --letsee-gray: #89898f;

  --confirm: greenyellow;
  --button-next: darkcyan;

  --toast-bg-default: #242424;
  --toast-bg-error: #e02456;
  --toast-bg-warning: #433c8c;
}

@mixin museum-font {
  font-family: 'Museum', 'SUIT', 'Apple SD Gothic Neo', sans-serif;
}

@mixin z-index-vars {
  --rootIndex: 1000;
  --mapIndex: 1190;
  --modalIndex: 1200;
  --viewerGuideIndex: 4000;
  --loadingScreenIndex: 5000;
  --toastIndex: 6000;
}

@mixin userSelectNone {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin buttonActiveDefault($scale: 0.98, $duration: 200ms) {
  transition: transform $duration;
  &:active { transform: scale($scale); }
}

@mixin modalBoxShadow01 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
