@mixin museum-font {
  font-family: 'Museum', 'SUIT', 'Apple SD Gothic Neo', sans-serif;
}

@mixin z-index-vars {
  --toastIndex: 4000;
  --modalIndex: 3000;
  --bottomSheetIndex: 3000;
  --topNavIndex: 2000;
  --layoutChildIndex: 1000;
}

@mixin sizes {
  --signUpTopNavHeight: 5.2rem;
  --mainLayoutChildrenWidth: 43rem;
}

@mixin userSelectNone {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin modalBoxShadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@mixin buttonBlack {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  color: white;
  font-size: 1.6rem;
  background-color: black;
}

@mixin buttonWhite {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  color: black;
  font-size: 1.6rem;
  background-color: white;
}

@mixin buttonCustom($color: brown){
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  color: $color;
  font-size: 1.6rem;
  background-color: white;
}


@mixin activeScale($scale: 0.97, $duration: 200ms) {
  transition: transform $duration;
  &:active { transform: scale($scale); }
}

@mixin activeOpacity($opacity: 0.5, $duration: 200ms) {
  transition: opacity $duration;
  &:active { opacity: $opacity; }
}





