.container {
  @include z-index-vars;
  @include sizes;

  position: fixed;
  top: 0;
  z-index: var(--topNavIndex);
  height: var(--signUpTopNavHeight);
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;


  @include isSmallMobile {
    width: 100% !important;
  }

  @include isMobile {
    @include sizes;
    width: var(--rootLayoutChildrenWidth);
  }

  @include isDesktop {
    @include sizes;
    width: var(--rootLayoutChildrenWidth);
    left: 50%;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .leftIcon {
    width: 3rem;
    height: 3rem;
    position:relative;
    cursor: pointer;

    @include activeOpacity;
    @include activeScale;
  }
}
