.container {
  @include z-index-vars;
  z-index: var(--toastIndex);
  position: fixed;
  width: calc(var(--rootLayoutChildrenWidth) - 4rem) !important;
  border-radius: 0.5rem;
  background-color: #1C222B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  pointer-events: none;
  bottom: 2rem;
  transition: .1s;

  opacity: 0;
  //transform: scale(0.8);


  @include isMobile {
  }

  @include isDesktop {
    left: calc(50% + 2rem);
  }
}

.active {
  opacity: 0.9;
  //transform: scale(1);
}


