.noticePage {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;


  .scrollArea {
    overflow-y: scroll;
  }

  > :nth-child(2) {

    margin-top: 1rem;
  }
}
