/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-user-select: none; /* Safari, Chrome 등 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 비표준 브라우저를 위한 기본 값 */
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


html, body {
  font-size: 62.5%;
  line-height: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #EDF0F9 60%, #D5DBE8 40%);
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
  touch-action: none;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: initial;
  border: none;
  color: #000;
}


/** DatePicker 커스터마이징 **/

.dateSelect_container {
  width: 100%;
  border: 1px solid red;
}

.react-datepicker-wrapper {
  width: 100%;
  border: 1px solid red;

}

.react-datepicker-wrapper input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #9DA5B7;
  color: black;
  outline: none;
}

.react-datepicker-wrapper input:focus {
  border: 1px solid black;
  color: black;
}

.react-datepicker__input-container {
  display: block !important;
}

.datePicker {
  border: 1px solid red;
  width: 100% !important;
}

/**테스트 **/
.modal-enter {
  opacity: 0;
  transform: translateY(10%);
}

/** 모달 CSS Transition **/
.modal-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

/** 바텀시트 CSS Transition **/
.bottom-sheet-enter {
  opacity: 0;
  transform: translateY(50%);
}

.bottom-sheet-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.bottom-sheet-exit {
  opacity: 1;
  transform: translateY(0%);
}

.bottom-sheet-exit-active {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
