.rootLayout {
  width: 100%;
  height: 100%;

  @include isMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;

  @include isMobile {
    width: 43rem;
    height: 100%;
  }

  @include isDesktop {
    height: 100%;
    width: 43rem;
    left: 50%;
  }
}

.leftContent {
  position: fixed;
  left:calc(50vw - 70rem);
  width: 70rem;
  height: 100%;

  @include isMobile {
    display: none;
  }
}

.rightContent {
  position: fixed;
}
