.rootLayout {
  width: 100%;
  height: 100%;

  @include isMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  @include sizes;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  height: 100%;


  @include isMobile {
    width: var(--rootLayoutChildrenWidth);
  }

  @include isDesktop {
    width: var(--rootLayoutChildrenWidth);
    left: 50%;
  }
}
.rightContent {
  position: fixed;
}
