.container {
  width: 100%;
  height: calc(100% - $sizes-topnav-height);
  margin-top: $sizes-topnav-height;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 3px solid green;
  overflow: hidden;

}

.subscription {
  color: gray;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.textInput {
  width: 90%;
  border: 1px solid #D5DBE8;
  padding: 0.8rem 1rem;
  outline: none;

  &:focus {
    border: 1px solid black;
  }
}

.dateInput {
  -webkit-appearance: none;
  width: 90%;
  padding: 2rem;
  font-size: 1.8rem;
  text-align: left;

}
