.modal {
  @include modalBoxShadow;
  @include z-index-vars;
  @include sizes;
  position: absolute;
  background: white;

  z-index: var(--modalIndex);
  width: 30rem;
  padding: 3.6rem 1.6rem 2.4rem;
  border: 1px solid black;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  .title {
    color: #12171E;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
  }

  .description {
    color: #3D4451;
    margin-bottom: 2.4rem;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;

    &.bold {

    }
  }
}

.firstButton {
  @include buttonBlack;
  @include activeOpacity;
  @include activeScale;
}

.secondButton {
  @include buttonWhite;
  @include activeOpacity;
  @include activeScale;
}
