.onOffToggle {
  display:inline-block;
  height: 30px;
  position:relative;

  input[type="checkbox"]{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  input[type="checkbox"]:checked {
    & + label::after {
      transform: translateX(20px);
      background: #E5E9F2;
    }

    & + label::before {
      background: #AB2BEE;
    }
  }

  label {
    color: #5C6475;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 60px;
    line-height: 30px;
    cursor: pointer;


    &::after{
      position:absolute;
      top:4px;
      left:5px;
      content:'';
      width: 2.2rem;
      height: 2.2rem;
      background: #FFFFFF !important;
      border-radius: 100%;
      transition: all 0.3s
    }

    &::before{
      position:absolute;

      top:0;
      left:0;
      content:'';
      width: 5.2rem;
      height: 30px;
      border:1px solid #d1d1d1;
      border-radius: 20px;
      background: #f1f1f1;
      box-sizing: border-box;
    }
  }
}
