.attendancePage {
  width: 100%;
  height: 100%;
  background-color: #EAC0FF;
  display: flex;
  flex-direction: column;



  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    @include noScrollBar;

    .calendarArea {
      width: 100%;
      padding: 2rem 2rem 5.8rem 2rem;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .infoText {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-size: 2rem;
          font-weight: bold;

          p {
            color: #3B0A54;
          }

          span {
            color: #9A36CD;
          }
        }

        .infoDate {
          position: relative;
          display: flex;
          justify-content: center;

          .todayDate {
            position: absolute;
            width: 100%;
            height: 70%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .month {
              color: #BB4EF2;
              font-size: 1.4rem;
              font-weight: bold;
              line-height: 1.7rem;
            }

            .date {
              margin-top: 0.2rem;
              color: #1C222B;
              font-size: 2rem;
              font-weight: bold;
              line-height: 2.3rem;
            }
          }
        }
      }

      .calendarContainer {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }

  .banner {
    width: 100%;
    height: 4.8rem;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #333333;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

}
