.layoutChild {
  @include z-index-vars;
  @include sizes;
  z-index: var(--layoutChildIndex);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.topNav {
  @include z-index-vars;
  @include sizes;

  z-index: var(--topNavIndex);
  position: fixed;
  top: 0;
  height: var(--signUpTopNavHeight);
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  border: 1px solid red;

  @include isSmallMobile {
    width: 100% !important;
  }

  @include isMobile {
    width: var(--rootLayoutChildrenWidth);
  }

  @include isDesktop {
    width: var(--rootLayoutChildrenWidth);
    left: 50%;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .leftIcon {
    @include activeOpacity;
    @include activeScale;

    width: 3rem;
    height: 3rem;
    position:relative;
  }
}
