.accordion {
  width: 100%;

  .accordionToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.6rem 2rem;
    border-bottom: 1px solid #E5E9F2;

    &.active {
      img {
        transform: rotate(-180deg);
      }
    }

    p {
      color: #1C222B;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .accordionContent {
    flex-direction: column;
    gap: 0.6rem;
    overflow: hidden;
    display: flex;
    max-height: 0;
    border-bottom: 1px solid #E5E9F2;
    padding: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

    p {
      color: #1C222B;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.2rem;
      white-space: pre-wrap;
      padding: 1.4rem 2rem;

    }

    .bold {
      font-weight: 700;
    }

    .highlight {
      color: #BB4EF2;
    }


    &.active {
      display: flex;
      max-height: 1000px;
    }

  }
}
