.container {
  width: 100%;
  height: 100%;
  border:1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleSection {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .image {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.bottomLoginSection {
  width: 100%;
  height: 40%;
}
