.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleSection {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: normal;
    font-size: 1.5rem;

    @include isSmallMobile {
      font-size: 1.5rem;
    }
  }

  h1 {
    white-space: pre-wrap;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 2.8rem;

    @include isSmallMobile {
      font-size: 2.1rem;
      line-height: 2.4rem;
    }
  }



  .image {
    position: relative;
    width: 300px;
    height: 300px;

    @include isSmallMobile {
      width: 200px;
      height: 200px;
    }
  }
}



.bottomLoginSection {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.4rem;
  }

  .lookAroundButton {
    margin-top: 4rem;
    padding: 1rem;
    transition: transform .2s;

    &:active {
      transform: scale(.97)
    }

    p {
      font-size: 1.4rem;
      color: #5C6475
    }

  }
}
