.container {
  width: 100%;
  position: relative;
}

.input {
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  padding: 1.2rem 1.6rem;
  outline: none;
  color: black;
  border-radius: 0.5rem;
  border: 1px solid #9CA6BE;
  background-color: white;
}

.image {
  pointer-events: none;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 3rem;
}
