.toast {
  @include z-index-vars;
  z-index: var(--toastIndex);
  pointer-events: none;
  transition: all 0.2s ease-in;
  position: absolute;
  bottom: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  &.active {
    pointer-events: all;
    opacity: 0.9;
  }

  .toastInner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background-color: #1C222B;
    padding: 0.7rem 1.3rem;

    p {
      font-size: 1.6rem;
      text-align: center;
      white-space: pre-line;
      color: white;
      display: inline;
      line-height: 2.3rem;
    }
  }

  @include isMobile {
  }


}



