
.worktimeSettingPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;

  .headerTitle {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
  }

  .messageBox {
    background: white;
    border-radius: 1.6rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1.6rem;


    &:before {
      content: "";
      position: absolute;
      bottom: -5.5em; /* Adjust this value to position the arrow correctly */
      left: 50%;
      transform: translateX(-50%);
      border: 3em solid transparent;
      border-top: 5em solid white;
      z-index: 0;
    }

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #BB4EF2;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 400;
      color: #1C222B;
      margin-top: 1rem;
      span {
        font-weight: bold;
      }
    }

    .messageInfo {
      display: flex;
      width: 100%;
      gap: 1rem;
      justify-content: space-between;
      margin-top: 1rem;

      div {
        color: #1C222B;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1rem 2rem;
        background: #DDE2ED;
      }
    }

    .tip {
      display: flex;
      align-items: center;
      margin-top: 1.4rem;


      .tipBox {
        background-color: #F9EEFF;;
        border-radius: 1rem;;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem 0.8rem;
        color: #E44EDD;
        font-size: 1.1rem;
        font-weight: 500;
      }

      .tipInfo {
        font-size: 1.4rem;
        font-weight: 500;
        color: #BB4EF2;
      }
    }
  }

  .welcomeImages {
    display: flex;
    position: relative;
    margin-top: 1rem;
    height: 17.3rem;
    width: 100%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%)
    }
  }

  .bottomInfo {
    display: flex;
    width: 100%;
    gap: 3.2rem;
    justify-content: center;
    margin-top: 1rem;

    div {
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0.8rem 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }


    :nth-child(1) {
      background-color: #D98DFF;
    }

    :nth-child(2) {
      background-color: #F980F3;
    }

    :nth-child(3) {
      background-color: #FF7CB5;
    }

  }

  .bottomArrow {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 2.9rem;
    cursor: pointer;

    img {
      @include activeScale();
      @include activeOpacity();
    }
  }
}


@mixin modal() {
  @include modalBoxShadow;
  @include z-index-vars;
  @include sizes;
  position: absolute;
  background: white;

  z-index: var(--modalIndex);
  width: 30rem;
  padding: 3.6rem 2rem 2.4rem;
  border: 1px solid black;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.workTimeSetting {
  .workTimeSelectPopup {
    @include modal;

    .title {
      font-size: 1.6rem;
      font-weight: bold;
      color: #1C222B;
      white-space: pre-wrap;
      text-align: center;
      line-height: 2.4rem;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 400;
      color: #5C6475;
      white-space: pre-wrap;
      text-align: center;
      margin-top: 0.6rem;
      line-height: 2rem;
    }

    .workTimeSelect {
      background-color: #F0F3FA;
      padding: 1.5rem 1.6rem;
      border-radius: 0.8rem;
      margin-top: 1.6rem;

      >:nth-child(2),
      >:nth-child(3) {
        margin-top: 2rem;
      }

      .item {
        .checkArea {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.6rem;
          color: #1C222B;

          .label {
            display: flex;
            align-items: center;
            user-select: none;
            position:relative;
            width: 2.4rem;
            height: 2.4rem;

            input[type="radio"] {
              -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
              -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 50%;
              border: 1px solid #ACB6CA;
              background-color: white;
              cursor: pointer;
            }

            input[type="radio"]:checked {
              border: 3px solid #BB4EF2;
              background-color: white;
              padding: 3px;
              cursor: pointer;
            }

            input[type="radio"]:checked ~ .radioInnerCircle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: #BB4EF2;
              width: 1.3rem;
              height: 1.3rem;
              border-radius: 50%;
            }
          }
        }

        .info {
          margin-top: 0.6rem;
          background-color: #DDE2ED;
          padding: 0.6rem 0.8rem;
          border-radius: 0.4rem;

          div {
            margin-top: 0.4rem;
            color: #5C6475;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .workTimeConfirmPopup {
    @include modal;
    padding: 3.6rem 1.6rem 2.4rem !important;

    .title {
      font-size: 1.6rem;
      font-weight: bold;
      color: #1C222B;
      white-space: pre-wrap;
      text-align: center;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 400;
      color: #5C6475;
      white-space: pre-wrap;
      text-align: center;
      margin-top: 0.8rem;
    }
  }
}

.confirmButton {
  width: 100%;
  height: 4.8rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.6rem;
  margin-top: 2.4rem;
  font-weight: 500;
  cursor: pointer;

  @include activeScale(0.99);
  @include activeOpacity(0.8);
}

.cancelButton {
  cursor: pointer;
  width: 100%;
  height: 4.8rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: black;
  font-size: 1.6rem;
  margin-bottom: 1rem;

  @include activeScale(0.99);
  @include activeOpacity(0.8);
}
