
.onboarding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  pointer-events: all;

  .xButton {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    @include activeScale();
    @include activeOpacity();
    cursor: pointer;
    z-index: 10;
  }

  .body {
    width: 100%;
    display: flex;
    margin-bottom: 15vh;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .cartoonArea {
      /** 레이아웃 시프트 막기 **/
      @include sizes;
      width: var(--rootLayoutChildrenWidth);
      height: calc(var(--rootLayoutChildrenWidth) * 0.8);

      img {
        position: relative !important;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .infoArea {
      width: 100%;
      margin-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;


      .description {
        .title {
          color: #1C222B;
          font-weight: bold;
          font-size: 1.6rem;
        }

        .views {
          margin-top: 0.8rem;
          color: #7A8497;
          font-weight: 400;
          font-size: 1.2rem;

        }
      }

      .channelProfile {
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        p {
          color: #1C222B;
          font-weight: bold;
          font-size: 1.6rem;
        }

      }
    }
  }

  .buttonArea {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 2.4rem;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.6rem;

    .confirmButton {
      flex: 2;
      width: 100%;
      height: 4.8rem;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      color: white;
      font-size: 1.6rem;
      font-weight: 500;
      cursor: pointer;

      @include activeScale(0.99);
      @include activeOpacity(0.8);
    }

    .cancelButton {
      flex: 1;
      cursor: pointer;
      width: 100%;
      height: 4.8rem;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      color: black;
      font-size: 1.6rem;
      border: 1px solid gray;

      @include activeScale(0.99);
      @include activeOpacity(0.8);
    }
  }

  .fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
