.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    width: 90%;
    max-width: 50rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    background-color: #FFE611;
    border-radius: 1rem;
    align-items: center;
    flex-direction: row;
    @include buttonActiveScale;

    .image {
      position: relative;
      width: 3rem;
      height: 3rem;
    }

    p {
      margin-left: 1rem;
      font-size: 1.7rem;
      padding-top: 0.3rem;
    }
  }
}




