.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    width: 90%;
    max-width: 50rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    background-color: #FFE611;
    border-radius: 1rem;
    align-items: center;
    flex-direction: row;
    @include activeScale;

    .image {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
    }

    p {
      margin-left: 0.8rem;
      font-size: 1.7rem;
    }
  }
}




