.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.spinnerInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
