.textInput {
  width: 100%;
  height: 4.8rem;

  input[type="text"] {
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    border: 1px solid #ACB6CA;
    font-size: 1.6rem;
    padding-left: 1.2rem;
    outline: none;

    &:focus {
      border: 1px solid #3D4451;
    }
  }
}
