.luckyDrawCards {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .carouselContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    position: relative;
  }

  // 해당 아이템들이 가로로 배치
  .carouselItem {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 1.4rem;

    .drawCards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 0.4rem;
      background-color: #f0f0f0;
      padding: 1.6rem 1.4rem;
      border-radius: 1.6rem;
      touch-action: none;

      .cardItem {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}



